In [28]:
#### 내가 한거


numbers = str(input('two nums with space: ')).split()

result = 0
num1 = int(numbers[0])
num2 = int(numbers[1])

while num1 >= 1:
    if num1 % 2 == 0:
        print(num1 , num2 ,'struck ---')
        num1 = num1 // 2
        num2 = num2 * 2

    else:
        print(num1 , num2 , 'keep ', num2)
        num1 = num1 // 2
        num2 = num2 * 2
        result = result + num2

print('result : ', result)

two nums with space: 12 7
12 7 struck ---
6 14 struck ---
3 28 keep  28
1 56 keep  56
result :  168

In [31]:
numbers = str(input('two nums with space: ')).split()

result = 0
num1 = int(numbers[0])
num2 = int(numbers[1])

while num1 >= 1:
    if num1 % 2 == 0:
        print(num1 , num2 ,'struck ---')
        
    else:
        print(num1 , num2 , 'keep ', num2)    
        result = result + num2
        
    num1 = num1 // 2 
    num2 = num2 * 2

print('result : ', result)


        
#####중복되는 코드, 코드 효율성,

two nums with space: 25 17
25 17 keep  17
12 34 struck ---
6 68 struck ---
3 136 keep  136
1 272 keep  272
result :  425

In [32]:
dict1 = {'korean': 95, 'math': 100, 'science': [80, 70, 90, 60]}

In [33]:
del dict1['math']
print(dict1)

{'korean': 95, 'science': [80, 70, 90, 60]}

In [34]:
dict1 = {'Spanish':'100'}

In [35]:
print(dict1)

{'Spanish': '100'}

In [36]:
dict1 = {}

In [37]:
print(dict1)

{}

In [38]:
dict1['korean'] = 100
dict1

{'korean': 100}

In [39]:
dict2 = {'korean':100, 'math':95, 'English':95}
dict2

{'English': 95, 'korean': 100, 'math': 95}

In [41]:
del dict2['math']
dict2

{'English': 95, 'korean': 100}

In [42]:
print(dict2['English'])

95

In [43]:
print(dict2.keys())

dict_keys(['korean', 'English'])

In [44]:
print(dict2['English','math'])

KeyError: ('English', 'math')

In [45]:
print(dict2)

{'korean': 100, 'English': 95}

In [46]:
print(dict2['English','math'])

KeyError: ('English', 'math')

In [47]:
print(dict2['English','korean'])

KeyError: ('English', 'korean')

In [48]:
ppap = {'pen', 'pineapple', 'apple', 'pen'}
ppap

{'apple', 'pen', 'pineapple'}

In [49]:
'apple' in ppap

True

In [50]:
'applepen' in ppap

False

In [53]:
A = set('fastcampus')
B = set('python')
print(A)
print(B)

{'u', 's', 'c', 'a', 'f', 'p', 't', 'm'}
{'h', 'o', 'p', 'y', 't', 'n'}

In [52]:
print(A|B,
     A&B,
     A-B,
     A^B)

{'u', 's', 'c', 'a', 'f', 'h', 'o', 'p', 't', 'y', 'n', 'm'} {'p', 't'} {'u', 's', 'c', 'f', 'a', 'm'} {'u', 'a', 'f', 'h', 'n', 'm', 's', 'c', 'o', 'y'}

In [57]:
old_list = [1, 2, 3, 4, 5]
doubled_list = []

for i in old_list: # 리스트의 요소가 차례대로 넘어오는거임
    doubled_list.append(2 * i)

doubled_list

[2, 4, 6, 8, 10]

In [58]:
doubled_list = [2 * i for i in old_list]
doubled_list

[2, 4, 6, 8, 10]

In [61]:
old_list = [1,2,3,4,5]

double_list = []
for i in old_list:
    if i % 2 == 0 :
        double_list.append(i * 2)
print(double_list)

[4, 8]

In [63]:
double_list = [ 2 * i for i in old_list if i % 2 == 0]
double_list

[4, 8]

In [75]:
###### ###### ###### ###### ###### ###### ###### ###### ###### ###### ###### Fizzbuzz


for i in range(1,100+1):
    
    if i % 3 == 0 and i % 5 == 0:
        print('fizzbuzz')
    elif i % 5 == 0:
        print('buzz')
    elif i % 3 == 0:
        print('fizz')
    else:
        print(i)

SyntaxError: invalid syntax (<ipython-input-75-696b5887ce4d>, line 15)

In [83]:
for i in range(1, 100+1):
    if i % 3 == 0 or i % 5 == 0:
        print('Fizz' * (i % 3 == 0) + 'Buzz' * ( i % 5 == 0))
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
for i in range(1, 100+1):
    if i % 3 == 0 or i % 5 == 0:
        print('Fizz' * (i % 3 == 0) + 'Buzz' * ( i % 5 == 0))
    else:
        print(i)

In [91]:
fizzbuzz = [ 'Fizz' * (i % 3 == 0) + 'Buzz' * ( i % 5 == 0) and i for i in range(1, 100+1)]
fizzbuzz

['',
 '',
 3,
 '',
 5,
 6,
 '',
 '',
 9,
 10,
 '',
 12,
 '',
 '',
 15,
 '',
 '',
 18,
 '',
 20,
 21,
 '',
 '',
 24,
 25,
 '',
 27,
 '',
 '',
 30,
 '',
 '',
 33,
 '',
 35,
 36,
 '',
 '',
 39,
 40,
 '',
 42,
 '',
 '',
 45,
 '',
 '',
 48,
 '',
 50,
 51,
 '',
 '',
 54,
 55,
 '',
 57,
 '',
 '',
 60,
 '',
 '',
 63,
 '',
 65,
 66,
 '',
 '',
 69,
 70,
 '',
 72,
 '',
 '',
 75,
 '',
 '',
 78,
 '',
 80,
 81,
 '',
 '',
 84,
 85,
 '',
 87,
 '',
 '',
 90,
 '',
 '',
 93,
 '',
 95,
 96,
 '',
 '',
 99,
 100]